body {
    margin: 0;
    overflow-x: auto;
    color: #323233;
    font-size: 16px;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    background-color: #f7f8fa;
    -webkit-font-smoothing: antialiased;
}

html, body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus {
    background: none;
}

code {
    background: #f7f8fa;
    padding: 2px 5px;
    border-radius: 3px;
    color: #34495e;
    font-size: 14px;
}

pre code {
    padding: 10px !important;
}

[v-cloak] {
    display: none;
}

.pxmu-web-header {
    width: 100%;
    background-color: #001938;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    z-index: 9;
}

.pxmu-web-header-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
}

.pxmu-web-header-logo {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #444;
}

.pxmu-web-header-logo img {
    width: 24px;
    margin-right: 10px;
}

.pxmu-web-header-logo img, .pxmu-web-header-logo span {
    display: inline-block;
    vertical-align: middle;
}

.pxmu-web-header-logo span {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.pxmu-web-content-simulator {
    position: fixed;
    top: 90px;
    left: 30px;
    z-index: 1;
    box-sizing: border-box;
    width: 360px;
    min-width: 360px;
    overflow: hidden;
    background: #fafafa;
    border-radius: 12px;
    box-shadow: #ebedf0 0 4px 12px;
}

.pxmu-web-content-simulator iframe {
    display: block;
    width: 100%;
}

.pxmu-web-row {
    width: 100%;
}

.pxmu-web-content-container--with-simulator {
    padding-left: 390px;
}

.pxmu-web-content-container {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding-right: 250px;
    top: 60px;
}

.pxmu-web-content-content {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 0 0 75px;
}

.pxmu-web-content-content section {
    padding: 30px;
    overflow: hidden;
}

.pxmu-web-content-content .card {
    margin-bottom: 24px;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 12px #ebedf0;
}

.pxmu-web-content-intro {
    padding-top: 20px;
    text-align: center;
}

.pxmu-web-content-content img {
    width: 100%;
    margin: 16px 0;
    border-radius: 12px;
}

.pxmu-web-content-content p {
    color: #34495e;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
}

.pxmu-web-content-content h1, .pxmu-web-content-content h2, .pxmu-web-content-content h3, .pxmu-web-content-content h4, .pxmu-web-content-content h5, .pxmu-web-content-content h6 {
    color: #323233;
    font-weight: normal;
    line-height: 1.5;
}

.pxmu-web-content-content h1 {
    margin: 0 0 30px;
    font-size: 30px;
    cursor: default;
}

.pxmu-web-content-content h3 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
}

.pxmu-web-content-nav {
    position: fixed;
    top: 90px;
    right: 30px;
    z-index: 1;
    min-width: 220px;
    max-width: 220px;
    min-height: 200px;
    padding: 24px 0;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 8px 12px #ebedf0;
}

.pxmu-web-content-nav__title {
    padding: 8px 0 8px 30px;
    color: #455a64;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
}

.pxmu-web-content-nav__item span.active {
    -webkit-font-smoothing: auto;
}

.pxmu-web-content-nav__item span:hover, .pxmu-web-content-nav__item span.active {
    color: #4fc08d;
}

.pxmu-web-content-nav__item span {
    display: block;
    margin: 0;
    padding: 8px 0 8px 30px;
    color: #455a64;
    font-size: 14px;
    line-height: 28px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    cursor: pointer;
}

.pxmu-flex div, .pxmu-flex span, .pxmu-flex img {
    display: flex;
}

.pxmu-demo-title {
    background: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    /* justify-content: center; */
    align-items: center;
}

.pxmu-demo-title .back {
    padding: 0 10px;
    position: absolute;
}

.pxmu-demo-title .title {
    flex: 1;
}

.pxmu-demo-title .back img {
    transform: rotateY(180deg);
    width: 20px;
}

.pxmu-web-demo {
    width: 100%;
    flex-direction: column;
}

.pxmu-web-section {
    margin: 15px;
}

.pxmu-web-tips {
    flex-direction: column;
}

.pxmu-web-tips-title {
    margin: 15px 0;
    width: 100%;
    color: rgba(69, 90, 100, 0.6);
    font-size: 14px;
}

.pxmu-web-item-bloak {
    width: 100%;
    padding: 15px 0;
    border-bottom: solid 1px #eee;
}

.pxmu-web-item-list {
    background: #fff;
    border-radius: 5px;
    flex-direction: column;
}

.pxmu-web-item-name {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.pxmu-web-item-name span {
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
    color: #323233;
}

.pxmu-web-item-name img {
    height: 16px;
    padding-right: 10px;
}

.card-wap {
    display: none;
}

@media (max-width:800px) {
    .pxmu-web-content-simulator, .pxmu-web-content-container {
        display: none;
    }
    .pxmu-web-content-nav {
        position: relative;
        top: 5px;
        max-width: 100%;
        width: auto;
        min-width: auto;
        padding: 0;
        box-shadow: none;
        min-height: auto;
        right: 0;
    }
    .card-wap {
        display: block;
        background: #fff;
        padding-top: 60px;
        padding-bottom: 10px;
    }
}